body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: rgb(213, 248, 253) !important;
  background: linear-gradient(90deg, rgba(18,159,245,1) 0%, rgba(0,203,253,1) 50%, rgba(175,252,255,1) 100%) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 950px) {
  .ui[class*="right pointing"].label:before {
    top: 100% !important;
    right: 35px !important;
  } 
}

/* @media screen and (max-width: 767px) {
  .ui[class*="right pointing"].label:before {
    top: 50% !important;
    right: 0 !important;
  } 
} */

@media screen and (max-width: 500px) {
  .ui[class*="right pointing"].label:before {
    top: 100% !important;
    right: 35px !important;
  } 
}

.reacreveal {
  height: 51px !important;
  margin-top: 14px !important;
}